#content{
    color:red;
}

#content div {
    color:green;
    text-align: left;
    background-color: #E4E4E4;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}
#content span {
    text-align: center;
    color: black;
    background-color: #E4E4E4;
}

body{
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:1%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px
    /*225*/
}